.middle-content{
    padding: 80px 0 40px 0;
}
.content-wrapper img{
    width: 100%;
}
.content-wrapper p{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}
.common-title h1{
    margin-top: 30px;
    font-size: 40px;
    font-weight: 700;
}
.para-content p{
    margin: 30px 0 30px 0;
    font-size: 18px;
    font-weight: 600;
}
.social-icons{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}
.social-icons ul{
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}
.social-icons ul li{
    padding-right: 10px;
    display: inline-block
}
.socialIcon{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background: #0d1224;
    justify-content: center;
}
.socialIcon:hover{
    text-decoration: none;
}
.socialIcon i{
    color: #fff;
    font-size: 16px;
}
.linkIcon i{
    transform: rotate(-270deg);
}
.borderRight{
    height: 1px;
    border-color: #d9d9d9;
    width: 75%;
    margin-right: 0;
}

/*****************Media******************/

@media screen and (max-width:767px) {
    .middle-content{
        padding: 30px 0 30px 0;
    }
    .common-title h1{
        font-size: 28px;
    }
    .content-wrapper p,.para-content p{
        font-size: 16px;
    }
    .social-icons{
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }
    .borderRight{
        width: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .middle-content{
        padding: 30px 0 30px 0;
    }
   
}