<div class="footer-wrapper">
    <h2 class="footer-title">Recommended for you</h2>
    <div class="row customMargin">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 gutterSpace">
            <div class="footer-img">
                <img src="../../assets/images/crop-2.jpg" />
            </div>
            <div class="footer-content">
                <h5>Blog</h5>
                <h3>Learn More about The future of Enterprise Connectivity</h3>
                <p class="footer-description">BYOD became an industry staple when the first wave of iPhones entered the workforce, and it's remained one of the hottest trends in enterprise mobility ever since.</p>
                <hr />
                <div class="blog-by">
                    <div class="bookmark-icon">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                    </div>
                    <p>Automotive, BYOD</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 gutterSpace">
            <div class="footer-img">
                <img src="../../assets/images/crop-2.jpg" />
            </div>
            <div class="footer-content">
                <h5>Blog</h5>
                <h3>Learn More about The future of Enterprise Connectivity</h3>
                <p class="footer-description">BYOD became an industry staple when the first wave of iPhones entered the workforce, and it's remained one of the hottest trends in enterprise mobility ever since.</p>
                <hr />
                <div class="blog-by">
                    <div class="bookmark-icon">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                    </div>
                    <p>Automotive, BYOD</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 gutterSpace">
            <div class="footer-img">
                <img src="../../assets/images/crop-2.jpg" />
            </div>
            <div class="footer-content">
                <h5>Blog</h5>
                <h3>Learn More about The future of Enterprise Connectivity</h3>
                <p class="footer-description">BYOD became an industry staple when the first wave of iPhones entered the workforce, and it's remained one of the hottest trends in enterprise mobility ever since.</p>
                <hr />
                <div class="blog-by">
                    <div class="bookmark-icon">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                    </div>
                    <p>Automotive, BYOD</p>
                </div>
            </div>
        </div>
    </div>
</div>
