.top-banner{
    background: #e8fcff ;
    padding: 60px 0 60px 0;
}
.header h4{
    color: #0d1224;
    text-transform: uppercase;
    padding-left: 15px;
}
.main-title{
    padding-top: 25px;
}
.main-title h1{
    font-size: 65px;
    line-height: 80px;
}
.author-name{
    padding-top: 20px;
    padding-bottom: 40px;
}
.author-name span{
    font-size: 18px;
    font-weight: 700;
}
.author-line{
    margin-right: 20px;
    position: relative;
}
.author-line::after{
    position: absolute;
    content: '';
    border-right: 2px solid #0d1224;
    top:0;
    right:-10px;
    height: 100%;
}
hr{
    border-color: rgb(199, 199, 199);
}
.saas-title p{
    margin:0;
    font-size: 20px;
    font-weight: 700;
}
.header,.saas-left{
    display: flex;
    align-items: center;
}
.arrow-icon i{
    font-size: 30px;
    color: #0d1224;
}
.bookmark-icon i{
    color: #0d1224;
    font-size: 24px;
    padding-right: 10px
}
.saas-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
.saas-right ul{
    margin: 0;
    list-style-type: none;
}
.saas-right ul li{
    padding-left: 10px;
    display: inline-block
}
.socialIcon{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background: #0d1224;
    justify-content: center;
}
.socialIcon:hover{
    text-decoration: none;
}
.socialIcon i{
    color: #fff;
}
.linkIcon i{
    transform: rotate(-270deg);
}

/*****************Media******************/

@media screen and (max-width:767px) {
    .main-title h1{
        font-size: 24px;
        line-height: 36px;
    }
    .top-banner{
        padding: 20px 0 20px 0;
    }
    .saas-title p,.author-name span{
        font-size: 16px;
    }
    .saas-title{
        display: block;
    }
    .saas-right ul{
        padding-left: 0;
        margin-top: 20px;
    }
    .saas-right ul li{
        padding-right: 10px;
        padding-left: 0;
    }
    .bookmark-icon i{
        font-size: 20px;
    }
    .author-name{
        padding-bottom: 20px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .main-title h1{
        font-size: 46px;
        line-height: 65px;
    }
    .saas-title{
        display: block;
    }
    .saas-right ul{
        padding-left: 0;
        margin-top: 20px;
    }
    .saas-right ul li{
        padding-right: 10px;
        padding-left: 0;
    }
    .bookmark-icon i{
        font-size: 20px;
    }
}

