<div class="top-banner common-template">
    <div class="container">
        <div class="header">
            <h4>blogs</h4>
        </div>
        <div class="main-title">
            <h1>Title Text Goes Here in two three lines</h1>
        </div>
        <div class="author-name">
            <span class="author-line">Author Name</span>
            <span>11 Mar 2022</span>
        </div>
        <hr />
        <div class="saas-title">
            <p>Saas Management, Automotive Industry, Other tags can go here</p>
        </div>
    </div>
</div>